@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

input[type="radio"] {
    display: none;
}

label {
    position: relative;
    color: #59afff;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    border: 2px solid #59afff;
    border-radius: 5px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    transition: 0.25s ease;
}

label:before {
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid #59afff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #59afff;
    color: white;
}

input[type="radio"]:checked + label:before {
    height: 16px;
    width: 16px;
    border: 10px solid white;
    background-color: #59afff;
}